#description{
    height: 185px;
    resize: none;
}

.remarkDiv{
    width: 15px;
    height: 15px;
    border: 1px solid black;
}

.done{
    background-color: #92bf44 !important;
    opacity: 0.9;
}

.inProgress{
    background-color: #30c1c0 !important;
    opacity: 0.9;
}

.toDo{
    background-color: #f7e067 !important;
    opacity: 0.9;
}

.textAlignLeft{
    text-align: left !important;
}

.leftFloatItem{
    float: left;
}

.marginTop5{
    margin-top: 5px;
}

.marginTop20{
    margin-top: 20px;
}

.paddingClearfix{
    padding: 0px !important;
}

.paddingTop20{
    padding-top: 20px;
}

.paddingBottom20{
    padding-bottom: 20px;
}

.paddingLeft15{
    padding-left: 15px;
}

.card{
    height: 230px;
}

.tailTruncate{
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-content{
    height: 565px;
}

.cardHeader{
    color: #FFFFFF;
    font-style: italic;
    font-size: larger;
}

.editButton{
    background-color: #80c340 !important;
    border: 1px solid white !important;
    font-size: 18px !important;
}

.textAlignLeft{
    text-align: left !important;
}

.addButton{
    width: inherit !important;
    background-color: #5c2d4f !important;
}

.backDiv{
    background-color: #edeef3;
    height: 400px;
    border: 1px solid black;
    background-image: url("./images/bgImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.frontDiv{
    background-color: #ACAC;
    position: absolute !important;
    top: 200px;
    border: 2px solid #ACACAC;
    border-radius: 10px 0px 10px 0px;
}